{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}

    <h3>About Me</h3>
    <p class="flow-text" >
        Hey, I am beginner <b>DJANGO DEVELOPER</b>. I have created is django application from testing my cunnent skill.
        Repo of the site will be available on my <a href="https://github.com/coderj001/django-responsive-todo-app.git">github</a> and if you
        want to ping me join my <a href="https://discord.gg/PnVQtcu">discord</a>. 
    </p>
    <p class="right flow-text">Thank You</p>
{% endblock %}